.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}
.group {
  position: relative;
  margin-top: 80px;
}

.input {
  font-size: 50px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar-1,
.bar-2 {
  position: relative;
  display: block;
  width: 102%;
}

.bar-1:before,
.bar-1:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ff0000;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar-2:before,
.bar-2:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0004ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar-1:before,
.bar-2:before {
  left: 50%;
}

.bar-1:after,
.bar-2:after {
  right: 50%;
}

.input:focus ~ .bar-1:before,
.input:focus ~ .bar-1:after,
.input:focus ~ .bar-2:before,
.input:focus ~ .bar-2:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
  font-size: 20px;
  margin-bottom: 20px;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.start-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 80px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 20%;
  margin-bottom: 30px;
  margin-top: 80px;
}

.start-btn:disabled {
  pointer-events: none;
}

.start-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.start-btn:active {
  box-shadow: none;
  transform: translateY(0);
}